@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@300&display=swap");
#wavy {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px 20px 20;
  transition: 0.5s ease;
}

header .brand {
  color: #faf8ed;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: left;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  display: inline-block; 
  position: relative;
  color: #faf8ed;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}



.brand:hover,
:hover {

  transition: transform 0.3s ease;
}

body {
  background-color: #748e63;
  width: fit-content;
}

section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home .content {
  z-index: 888;
  color: #faf8ed;
  width: 70%;
  margin-top: 50px;
}

.home .content h1 {
  font-size: 2.4em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 55px;
  margin-top: -300px;
  font-family: "Raleway", sans-serif;
}
h2 {
  font-size: 1.8em;
  font-weight: 500;
  font-style: oblique;
  margin-top: 5px;
  margin-bottom: 40px;
  font-family: "Raleway", sans-serif;
}

.home .content p {
  margin-bottom: 65px;
  font-size: 20px;
}

.home .content a {
  background-color: #99b080;
  color: #faf8ed;
  padding: 15px 35px;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.sci {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #748e63;
  padding: 10px 0;
}

.sci li {
  list-style: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.sci li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#fb,
#insta,
#tiktok {
  height: 30px;
  width: 30px;
  margin: 0 10px;
}

p .about {
  width: max-content;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: #99b080;
  color: #faf8ed;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif;
  z-index: 9999;
  text-align: center;
}

.popup h3 {
  font-weight: bold;
  font-size: 1.5em; /* Adjust the font size as needed */
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.popup h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #faf8ed;
  animation: wave-animation 3s infinite;
}

@keyframes wave-animation {
  0% {
    transform: scaleX(0);
    transform-origin: center;
  }
  50% {
    transform: scaleX(1);
    transform-origin: center;
  }
  100% {
    transform: scaleX(0);
    transform-origin: center;
  }
}

.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.news {
  list-style: none;
  padding: 0;
}

ul.news li {
  margin-bottom: 15px;
  font-size: 18px;
}

.contentBox .imgBx {
  width: 200px; 

  margin-bottom: 10px;
}

.contentBox .imgBx img {
  width: 100%;
  height: auto;
}

#newsletterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

#newsletterForm input[type="email"] {
  width: 80%;
  margin-bottom: 15px;
  padding: 10px;
  border: #748e63;
  border-radius: 5px;
  background-color: #faf8ed;
  color: #748e63;
  font-family: "Raleway", sans-serif;
}

#newsletterForm button {
  background-color: #faf8ed;
  color: #748e63;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: url(close-circle-svgrepo-com.svg) no-repeat center;
  background-size: 70%;
  cursor: pointer;
}
img.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
}